.form__submit-button {
  padding: 5px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: #405357;
  transition: .3s;
  border: none;
  color: white;
  font-size: 18px;
}

.form__submit-button:hover {
  background-color: #D6D6D6;
  color: black;
}