@mixin font-title {
  font-size: $font-size-title;
  color: $color-text-dark;
  font-weight: $font-weight-black;
}

@mixin font-subtitle {
  font-size: $font-size-subtitle;
  color: $color-text-dark;
  font-weight: $font-weight-black;
}

