// цвета текста
$color-block: #80A6AD;
$color-text-dark: #405357;
$color-text-light: #EDEFF0;
$color-background: #EDEFF0;
$color-text-footer: #BFD6D6;
$color-text-header: #6D878C;
// размеры шрифта
$font-size-title: 52px;
$font-size-subtitle: 28px;
$font-size-header-footer: 20px;
// жирность шрифта
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
// разное
$padding-top-header: 160.23px;