.contacts__title {
  font-size: 48px;
  padding: 48px 0 48px;
  margin: 0;
  align-self: flex-start;
}

@media (max-width: 603px) {
  .contacts__title {
    font-size: 36px;
  }
}

@media (max-width: 465px) {
  .contacts__title {
    font-size: 24px;
  }
}