.footer__info {
  box-sizing: border-box;
  padding: 0 24px 0;
  justify-content: space-between;
  display: flex;
  max-width: 1148px;
  width: 100%;
}

@media (max-width: 810px) {
  .footer__info {
    display: grid;
    grid-template-columns: minmax(350px, min-content) min-content;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 557px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 12px 0;
  }
}