.header__close-menu-button {
  display: none;
  margin: 20px 0 0 20px;
  border: none;
  width: 7vw;
  height: 7vw;
  background-image: url('../../../image/close-button.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
  .header__close-menu-button {
    display: block;
  }
}