.welcome-page {
  width: 100%;
  box-sizing: border-box;
  max-width: 1148px;
  padding: 153.39px 24px 0;
}

@media (max-width: 1024px) {
  .welcome-page  {
    padding: 226.39px 24px 0;
  }
}

@media (max-width: 768px) {
  .welcome-page  {
    padding: 0px 24px 0;
  }
}