.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px;
  width: 100%;
  background-color: #577175;

  &__contact-us {
    font-size: 20px;
    margin: 0 0 20px;
    color: #D6D6D6;
  }

  &__email {
    margin: 0 0 20px;
    color: #D6D6D6;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__info {
    box-sizing: border-box;
    padding: 0 24px 0;
    justify-content: space-between;
    display: flex;
    max-width: 1148px;
    width: 100%;

    @media (max-width: 810px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0 12px 0;
    }
  }

  &__number {
    margin: 0 0 20px;
    color: #D6D6D6;
  }

  &__payment-accept {
    font-size: 20px;
    margin: 0;
    color: #D6D6D6;
  }

  &__payment-system {
    width: 30px;
    height: 30px;
  }

  &__payment-systems {
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 160px;

    @media (max-width: 810px) {
      max-width: 160px;
    }
  }

  &__social-link {
    text-decoration: none;
    color: #D6D6D6;
  }

  &__social-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 100px;
  }
}