.promo {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 557px) {
    display: flex;
    flex-direction: column;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 412.5px;
    display: block;
  }

  &__images {
    max-width: 550px;
  }

  &__items {
    width: 100%;
    max-width: 550px;
    min-height: 412.5px;
  }

  &__subtitle {
    color: white;
    border-bottom: 2px solid #405357;
    padding-bottom: 5px;
    margin: 20px 0 0;
    font-size: 28px;
    max-width: 468px;
  }

  &__text {
    box-sizing: border-box;
    max-width: 550px;
    color: #405357;
    padding: 0 30px 0;
    background-color: #80A6AD;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 557px) {
      padding: 30px;
    }
  }

  &__title {
    margin: 0;
    font-size: 52px;

    @media (max-width: 1148px) {
      font-size: 5vw;
    }
  }

}