.accordion__button {
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/icon-plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
  transform: rotate(0deg);
}