.form-mailing__button {
  width: 400px;
  height: 35px;
  background-color: #405357;
  transition: .3s;
  border: none;
  cursor: pointer;
}

.form-mailing__button:hover {
  background-color: #D6D6D6;
}

