.popup__close-button {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    background-image: url('../../../image/close-button.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.popup__close-button:hover {
    opacity: .6;
}

@media (max-width: 795px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}