.promo__subtitle {
  color: white;
  border-bottom: 2px solid #405357;
  padding-bottom: 5px;
  margin: 20px 0 0;
  font-size: 28px;
  max-width: 468px;
}
/* 
@media (max-width: 1148px) {
  .promo__subtitle {
    font-size: 2vw;
  }
} */