.nav-menu {
  max-width: 800px;
  width: 100%;
}

@media (max-width: 960px) {
  .nav-menu {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #80A6AD;
    z-index: 20;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: ease;
    transition-duration: 0.3s;
  }
}