@media screen and (max-width: 768px) {
  .header__burger-line {
    position: absolute;
    left: 0;
    width: 60px;
    height: 8px;
    background-color: #80A6AD;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
