.promo__text {
  box-sizing: border-box;
  max-width: 550px;
  color: #405357;
  padding: 0 30px 0;
  background-color: #80A6AD;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 557px) {
  .promo__text {
    padding: 30px;
  }
}
